<a href="https://colab.research.google.com/github/iaherraduravmbg/pia_curso_25-26/blob/main/iabd_ut01_tarea1_ipynb_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Heading 1.**

a  (0,5 puntos) Borra la celda actual, añade una nueva de texto y escribe en su interior tu nombre
 completo en Heading 1.

b. (1,0 puntos) En una nueva celda de código, crea una lista de nombre tenistas con los siguientes elementos: Novak Djokovic, Rafael Nadal, Roger Federer, Pete Sampras, Roy Emerson. Crea otra lista de nombre grand_slams con los siguientes elementos: 24, 22, 20, 14, 12. Imprime por pantalla las dos listas

In [6]:
nombres = ["Novak Djokovic", "Rafael Nadal", "Roger Federer", "Pete Sampras", "Roy Emerson"]
grand_slams = [ 24, 22, 20, 14, 12.]
print(nombres + grand_slams)
print(nombres)
print(grand_slams)

['Novak Djokovic', 'Rafael Nadal', 'Roger Federer', 'Pete Sampras', 'Roy Emerson', 24, 22, 20, 14, 12.0]
['Novak Djokovic', 'Rafael Nadal', 'Roger Federer', 'Pete Sampras', 'Roy Emerson']
[24, 22, 20, 14, 12.0]

  c. (1,0 puntos) En una nueva celda de código, crea un diccionario de nombre dic donde la clave de
 cada elemento sea el nombre de un tenista y su valor el número de Grand Slams ganados.
 Imprime por pantalla el diccionario

In [10]:
dic = {"Novak Djokovic": 24, "Rafael Nadal": 22, "Roger Federer": 20, "Pete Sampras": 14, "Roy Emerson": 12 }
print(dic)

{'Novak Djokovic': 24, 'Rafael Nadal': 22, 'Roger Federer': 20, 'Pete Sampras': 14, 'Roy Emerson': 12}

d. (2,0 puntos) Crea una función de nombre get_tenistas que reciba como parámetro el diccionario
 dic y muestre los datos del diccionario en  la forma Nombre del jugador: X Grand Slams
 ganados. El resultado debería ser como sigue:
 Novak Djokovic: 24 Grand Slams ganados.
 Rafael Nadal: 22 Grand Slams ganados.

In [12]:
def get_tenistas(dic):
  for tenista, grand_slams in dic.items():
    if tenista == "Novak Djokovic" or tenista == "Rafael Nadal":
      print(f"{tenista}: {grand_slams} Grand Slams ganados.")

get_tenistas(dic)

Novak Djokovic: 24 Grand Slams ganados.
Rafael Nadal: 22 Grand Slams ganados.

 e. (2,0 puntos) Define la clase Pais con un "constructor" que inicialice los atributos nombre,
 capital e idioma, que serán los datos a considerar en la clase. Dentro de ella, crea los métodos
 get_nombre, get_capital y get_idioma, que devolverán el nombre del país, su capital y el idioma
 hablado, respectivamente. A continuación, crea una instancia u objeto de la clase Pais,
 asignándole los datos que desees, y haz uso de los métodos implementados para mostrar un
 mensaje con la información almacenada

 f. (0,5 puntos) Haz que todas las celdas de código tengan por encima una celda de texto que
 muestre el enuncidado de cada apartado.

In [ ]:
# Hecho